%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{lib_dirs, ["deps"]}.

{deps, [
        {pmod_transform, ".*", {git, "git://github.com/erlang/pmod_transform.git", "HEAD"}},
        {jsx, ".*", {git, "git@github.com:Phonebooth/jsx.git", {branch, "master"}}},
        {lager, ".*", {git, "git@github.com:Phonebooth/lager.git", {branch, "master"}}},
        {ibrowse, "", {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
        {mochiweb, "", {git, "git@git.assembla.com:phonebooth.19.git", "HEAD"}}
       ]}.

{require_otp_vsn, "R14|R15|R16|17|18|19"}.

{erl_opts, [
            fail_on_warning,
            debug_info, 
            {parse_transform, pmod_pt},
            {parse_transform, lager_transform}
           ]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{validate_app_modules, false}.

{sub_dirs, ["src"]}.
