%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info,
            {parse_transform, pmod_pt},
            {parse_transform, lager_transform},
            nowarn_deprecated_type,
            {platform_define, "(darwin)", use_darwin},
            {platform_define, "^(1[7,8,9])|2", 'crypto_use_hash'},
            {platform_define, "^(2[3,4,5,6,7,8,9])", 'use_uri_string'},
            {platform_define, "^2[4-9]", 'crypto_use_mac4'},
            {d, 'use_rand'},
            warnings_as_errors
        ]}.

{deps, [
        {pb2utils, "1.1.1", {git, "git@bitbucket.org:relaypro/pb2utils.git", {branch, "master"}}},
        {pmod_transform, ".*", {git, "git@github.com:erlang/pmod_transform.git", "HEAD"}},
        {jsx, ".*", {git, "git@github.com:Phonebooth/jsx.git", {branch, "master"}}},
        {lager, ".*", {git, "git@github.com:erlang-lager/lager.git", {branch, "master"}}},
        {ibrowse, ".*", {git, "git@github.com:Phonebooth/ibrowse.git", {branch, "master"}}},
        {mochiweb, "1.*", {git, "git@github.com:Phonebooth/mochiweb.git", {branch, "release/1.5.1p6"}}}
       ]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{validate_app_modules, false}.

{sub_dirs, ["src"]}.
